<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}

  {{>head.css}}

  {{>head.js}}
</head>

<body class="nav-md">

<div class="container body">
  <div class="main_container">

    {{>head.sidebar}}

    {{>head.topnav}}



    <!-- page content -->
    <div class="right_col" role="main">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <button class="btn btn-success addciro" style="position: relative; float:right">Gelir Ekle</button>
              <h2>Gelir İşlemleri</h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">


              <table id="data-table" cellspacing="0" width="100%" class="table table-striped table-bordered "
                     style="text-align: center;">
                <thead>
                <tr>
                  <th style="text-align: center;">Details</th>
                  <th style="text-align: center;">Tarih</th>
                  <th style="text-align: center;">Toplam</th>
                  <th style="text-align: center;">İşlemler</th>
                </tr>
                </thead>


                <tbody>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="openaddmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="text-align: center;" id="exampleModalLabel">Gelir Ekle</h5>

          </div>
          <div class="modal-body">
            <form method="dialog" action="" id="addciro">
              <div class="mb-4">
                <label for="recipient-name" class="col-form-label">Toplam:</label>
                <input type="text" class="form-control" name="total" id="addtotal" required="">
              </div>
              <br>
              <div class="mb-4">
                <label for="recipient-name" class="col-form-label">Açıklama:</label>
                <input type="text" class="form-control" id="adddescription" name="description">
              </div>
              <br>
              <div class="mb-4">
                <label for="message-text" class="col-form-label">Tarih:</label>
                <div class="input-group date todaydate">
                  <input type="text" class="form-control todaydate" style="text-align: center;" name="date" required="">

                  <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                </div>

              </div>
              <br>
              <div class="modal-footer" style="margin-bottom: -15px; text-align: center;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <input type="submit" name="" class="btn btn-primary" value="Kaydet">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="openupdatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="text-align: center;" id="exampleModalLabel">Gelir Güncelle</h5>

          </div>
          <div class="modal-body">
            <form action="" method="dialog" id="updateciro">
              <div class="mb-4">
                <label for="recipient-name" class="col-form-label">Toplam:</label>
                <input type="text" class="form-control" name="total" id="updatetotal" required="">
              </div>
              <br>
              <div class="mb-4">
                <label for="recipient-name" class="col-form-label">Açıklama:</label>
                <input type="text" class="form-control" name="description" id="updatedescription">
              </div>
              <br>
              <div class="mb-4">
                <label for="message-text" class="col-form-label">Tarih:</label>
                <div class="input-group date todaydate">
                  <input type="text" class="form-control todaydate" style="text-align: center;" name="date" required="">

                  <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                </div>

              </div>
              <br>

              <div class="modal-footer" style="margin-bottom: -15px; text-align: center;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <input type="submit" name="" class="btn btn-primary" value="Güncelle">
              </div>
              <input type="hidden" name="id" id="id">
            </form>

          </div>
        </div>
      </div>
    </div>

    {{!-- details modal start --}}

    <div class="modal fade" id="cirodetailmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <center>
              <span id="cirodetail"></span>
            </center>
          </div>

        </div>
      </div>
    </div>

    {{!-- detais modal end --}}

    <script>
      $(document).ready(function() {

        let datatable = $("#data-table").DataTable({
          "processing": true,
          "ajax": {
            url: "ciro/list",
            type: "POST"
          },
          columns: [
            { data: "details" },
            { data: "date" },
            { data: "total" }
          ],
          order: [[1, "desc"]],
          language: { url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json" },
          lengthMenu: [[-1, 20, 50, 100], ["All", 20, 50, 100]],
          pageLength: 20,
          dom: "<\"top\"lBf>rt<\"bottom\"ip><\"clear\">",
          buttons: [
            {
              extend: "pdf",
              messageTop: "PDF created by PDFMake with Buttons for DataTables.",
              title: "Noxus Chocolate",
              exportOptions: {
                columns: [1, 2]
              },
              customize: function(doc) {
                doc.content[1].table.widths =
                  Array(doc.content[1].table.body[0].length + 1).join("*").split("");
              }
            },
            {
              extend: "excel",
              title: "Noxus Chocolate",
              exportOptions: {
                columns: [1, 2]
              }
            },

            {
              extend: "print",
              title: "Noxus Chocolate",
              exportOptions: {
                columns: [1, 2]
              }
            }
          ],
          columnDefs: [
            {
              render: function(data, type, row) {
                const html = `<button class="btn btn-success updateciro"  data-id="${row.id}" name="update">Güncelle</button>` +
                  `<input type="button" data-url="ciro/delete" data-value="${row.id}" class="btn btn-danger deleted" name="delete" value="Sil">`;
                return html;
              },
              targets: 3
            },
            {
              render: function(data, type, row) {

                const html = `<i data-id="${row.id}" class="fa fa-plus cirodetail"></i>`;
                return html;
              },
              targets: 0
            }
          ]


        });


        $("#data-table").on("click", ".cirodetail", function() {

          const id = $(this).data("id");

          $.ajax({
            type: "POST",
            url: "/ciro/details",
            data: { id: id },
            success: function(result) {

              var detail = "";

              if (result.description != "") {
                detail += `<span>Açıklama: ${result.description}</span>`;
              }

              if (result.description != "") {
                $("#cirodetail").html(detail);
                $("#cirodetailmodal").modal("show");
              }


            }
          })
            .fail(function(err) {
              $.errorMessage(err);
            });


        });


        $(".addciro").click(function() {
          $("#addtotal").val("");
          $("#adddescription").val("");
          $(".todaydate").val(new Date().format("Y-m-d").toLocaleString("tr-TR") + " 23:59:59");
          $("#openaddmodal").modal("show");
        });


        $("#addciro").submit(function() {

          $.ajax({
            type: "POST",
            url: "/ciro/add",
            data: $(this).serialize(),
            success: function(data) {


              $.alerts("success", "Well done");

              $("#openaddmodal").modal("hide");

              datatable.ajax.reload();

            }
          })
            .fail(function(err) {
              $.errorMessage(err);
            });


        });


        $("#data-table").on("click", ".updateciro", function() {

          $.ajax({
            type: "POST",
            url: "ciro/update",
            data: { id: $(this).data("id") },
            success: function(result) {

              $("#updatetotal").val(result.total);
              $("#updatedescription").val(result.description);
              $(".todaydate").val($.trim(result.date));
              $("#id").val(result.id);
              $("#openupdatemodal").modal("show");
            }
          });
        });

        $("#updateciro").submit(function() {


          $.ajax({
            type: "Patch",
            url: "ciro/update",
            data: $(this).serialize(),
            success: function(veri) {

              $("#openupdatemodal").modal("hide");
              datatable.ajax.reload();
              $.alerts("success", "Well done");
            }
          })
            .fail(function(err) {
              $.errorMessage(err);
            });

        });


        $("#data-table").on("click", ".deleted", function() {

          swal({
            title: "Are you sure?",
            text: "Once deleted,",
            icon: "warning",
            buttons: true,
            dangerMode: true
          })
            .then((willDelete) => {
              if (willDelete) {


                $.ajax({
                  url: $(this).data("url"),
                  type: "DELETE",
                  data: { id: $(this).data("value") },
                  success: function(result) {
                    datatable.ajax.reload();
                    swal("Poof! Your imaginary file has been deleted!", {
                      icon: "success"
                    });
                  }
                });

              } else {
                swal("Your imaginary file is safe!");
              }
            });


        });


      });
    </script>
    <script>
      $(".todaydate").datetimepicker({
        format: "YYYY-MM-DD HH:mm:ss"
      });
    </script>

    <footer>
      {{>footer}}
    </footer>

  </div>
</div>

{{>footer.js}}

</body>
</html>
