 <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              

              <a href="/dashboard" class="site_title"> <img src="https://storage.googleapis.com/noxus-up-file/{{allSetting.ico}}" width="40" height="40" >  <span>{{allSetting.companyname}}</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="https://storage.googleapis.com/noxus-up-file/{{allSetting.logo}}"  class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{user.fullName}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/dashboard"><i class="fa fa-home"></i> Anasayfa </a>
                  <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Raporlar </a>
                  
                 <li><a href="/ciro"><i class="fa fa-try"></i> Gelir </a></li>
                    <li><a href="/expenses"><i class="fa fa-minus-square"></i>Gider </a></li>
                    <li><a href="/pricelist"><i class="fa fa-database"></i>Fiyat Listesi </a></li>
                    <li><a href="/categories"><i class="fa fa-plus"></i> Kategoriler </a></li>
                  <li><a href='/products'><i class="fa fa-th-list"></i> Ürünler </a></li>
                  <li><a href="/personnel"><i class="fa fa-users"></i> Personel  </a></li>
                  <li><a href="/users"><i class="fa fa-user"></i> Kullanıcı  </a></li>
                  <li><a href="/settings"><i class="fa fa-gear"></i> Ayarlar  </a></li>
                </ul>
              </div>
       

            </div>
            <!-- /sidebar menu -->
         
          </div>
        </div>
