    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
     <link rel="icon" href="https://storage.cloud.google.com/noxus-up-file/{{allSetting.ico}}" type="image/x-icon" />
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{allSetting.title}}</title>